<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid gray;
        }

        table th, table td {
            border: 1px solid gray;
            padding: .2em .4em;
        }
    </style>
</head>
<body>

<p>Hello, {{ parent.name }}{% if user %} ({{ user.username }}){% endif %}.
    Here’s the latest with Dave B’s Young Programmers.</p>
{% with num_stu=parent.student_set.count %}
    {% if num_stu %}
<p>Your students in the system:</p>
<ul>
    {% for student in parent.student_set.all %}
    <li>{{ student.name }}</li>
    {% endfor %}
</ul>
    {% else %}
<p>You have no young programmers in the student information system.</p>
    {% endif %}

{% if section_rows.future %}
<h2>Upcoming Course Sections</h2>
    {% include "app/section_table.html" with section_rows=section_rows.future %}
{% endif %}

<h2>Dave B’s Student Information System</h2>
<a href="{{ dbsis_url }}">Go to Dave B’s Student Information System</a> to keep your information up
to date, and to enroll in course sections.
{% endwith %}

<h2>News</h2>
{% include "app/news_table.html" %}

<h3>Need Help?</h3>
Please email <a href="mailto:daveb@davebsoft.com">Dave Briccetti</a>.

<p style="font-size: 70%">To turn off these emails, please email <a href="mailto:daveb@davebsoft.com">Dave Briccetti</a>.</p>

</body>
</html>
