{% extends "app/base.html" %}
{% load bootstrap3 %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
    {% if user.is_staff %}
        <h2>Status</h2>
        <table class="table table-nonfluid">
            <tbody>
            {% for row in status %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Applications</h2>
        <table class="table table-nonfluid">
            <thead>
            <tr>
                <th>Application Time</th>
                <th>Student</th>
                <th>Section Time</th>
                <th>Course Name</th>
                <th>Section Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for ssa in ssas %}
                <tr>
                    <td>{{ ssa.applied_time }}</td>
                    <td>{{ ssa.student.name }}</td>
                    <td>{{ ssa.section.when }}</td>
                    <td>{{ ssa.section.course }}</td>
                    <td>{{ ssa.section.notes }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Email</h2>
        <form method="post">
            {% csrf_token %}
            <p><input type="checkbox" id='sta' name="send-to-admin"/>
                <label for="sta">Send email to administrator instead of parents</label></p>
            <p><input type="checkbox" id='saf' name="send-a-fraction"/>
                <label for="saf">If above checked, send just a fraction of the emails</label></p>
            <p><input type="checkbox" id='sou' name="send-only-upcoming"/>
                <label for="sou">Include only parents with students <em>in</em> upcoming events</label></p>
            <p><input type="checkbox" id='sowu' name="send-only-wanted-upcoming"/>
                <label for="sowu">Include only parents with students <em>wanting</em> upcoming events</label></p>
            {% buttons %}
                <button type="submit" name="send-status-emails" class="btn btn-primary">Send Status Emails</button>
            {% endbuttons %}
        </form>
    {% endif %}
{% endblock %}
