{% extends "app/base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
<img style="max-width: 100%; margin-bottom: 1em;" src="{% static "toppic.jpg" %}" alt="Picture of a programming class"/>
{% if user.is_authenticated %}
<p><a class="btn btn-primary btn-lg" href="/app/logout">Log Out</a></p>
{% endif %}
    <h2>About this Application</h2>
    <p>This student information system lets you do the following:</p>
    <ul>
    <li>Register yourself as the parent or guardian of one or more students interested in learning computer programming from Dave Briccetti</li>
    <li>Provide information about each student:</li>
        <ul>
            <li>Name, birthdate, and optionally school and some other items</li>
            <li>Any programming experience</li>
            <li>What classes the student is interested in</li>
            <li>When the student is available</li>
        </ul>
    <li>Browse available courses and sections (instances of courses)</li>
    <li>See the history of your children’s attendance in course sections</li>
    <li>Propose courses and sections</li>
    <li>Enroll in course sections</li>
    </ul>
{% endblock %}
