{% extends "app/base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
    <img style="max-width: 100%; margin-bottom: 1em;" src="{% static "toppic.jpg" %}"
         alt="Picture of a programming class"/>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About This System</h3>
      </div>
      <div class="panel-body">
          <p>One of the challenges of teaching programming to kids is organizing the kids into
              groups by ability, interest, budget, and availability.
              This system is designed to help with that.</p>

          <p>It will take a bit of effort, but if you add yourself and your young programmers
              to this system and keep the information up to date, you are much more likely to
              have the courses you want when you want them.</p>

          <h4>Procedure</h4>
          <ul>
              <li>Register yourself as the parent or guardian of one or more students</li>
              <li>Provide information about each of your children you are seeking instruction for,
              including what courses they want and when they are available</li>
              <li>Propose courses if you don’t see what you want</li>
              <li>Form your own groups when you can</li>
              <li>Watch for suitable
                  <span title="A section is an instance of a course, at a specific time"><em>sections</em></span>
                  and enroll your children in them</li>
          </ul>

          <h4>Privacy</h4>
          <p>Your family’s privacy is very important to me. Your information will never be used
          for any purpose other than providing classes to your children. Other users of this system
          will not be able to see any of your information, except that:</p>
          <ul>
              <li>Parents of students enrolled in the same course section as your child will be
              able to see your name, and your child’s name, age and grade, and the names and dates of other class sections
              those students had together.</li>
          </ul>

          <p>On the forms that collect information about you and your children, there are explanations of
          why the information is collected. Some of it is optional.</p>

          <p><a target="dbs" href="https://davebsoft.com/programming-for-kids/">More information</a> on Dave Briccetti’s teaching.</p>

          <p><small>This is <a href="https://en.wikipedia.org/wiki/Free_software">free software</a>.
          The source code is <a href="https://github.com/dcbriccetti/stusched">here</a>.</small></p>
      </div>
    </div>
{% endblock %}
