{% extends "app/base.html" %}
{% load bootstrap3 %}
{% load nav %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <h2>Log In</h2>
    <form id='log-in-form' action="{% xurl 'login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button id='log-in' type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <h2>Create New Account</h2>
    <form id='create-form' action="{% xurl 'login' %}?create=y" method="post">
        {% csrf_token %}
        {% bootstrap_form new_user_form %}
        {% buttons %}
            <button id='create' type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}
