{% extends "app/base.html" %}
{% load bootstrap3 %}

{% block title %}{{ block.super }} - Section Registrations{% endblock %}

{% block content %}
    <h2>Register For {{ section.course.name }}</h2>
    <h4>{{ section.start_time }}</h4>

    <form action="/app/section/{{ section.id }}/register" method="post">
        {% csrf_token %}
        {% for swa in students_with_assignment %}
        <div class="well well-sm">
            <h4>{{ swa.student }}</h4>
                <input id="reg-{{ swa.student.id }}" name="reg-{{ swa.student.id }}" type="checkbox"
                {% if swa.assa %}
                    checked
                {% endif %}
                /> <label for="reg-{{ swa.student.id }}">
                {% if swa.assa.waitlisted %}
                    Waitlisted
                {% else %}
                    Enrolled
                {% endif %}</label>
        </div>
        {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Save Changes</button>
        {% endbuttons %}
    </form>
{% endblock %}
