<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>When</th>
        <th>Course</th>
    {% if show_status %}
        <th>Status</th>
    {% endif %}
        <th>Price</th>
        <th title="Minumum, enrolled, and maximum number of students">Students</th>
        {% if show_students %}
        <th>Names</th>
        {% endif %}
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {% for row in section_rows %}
        <tr>
            <td>
                {% if user.is_staff or row.viewable %}
                <a href='/app/section/{{ row.section.id }}'><span class="glyphicon glyphicon-eye-open" title="View section details"></span></a>
                {% endif %}

                {% if row.section.registration_open and user.is_authenticated %}
                    <a title='Change Registration'
                       class='btn btn-primary btn-xs' role="button" href='/app/section/{{ row.section.id }}/register'>Reg</a>
                {% endif %}
            </td>
            <td>{{ row.section.when }}</td>
            <td>
                {% if row.section.course.url %}
                    <a href={{ row.section.course.url }}>{{ row.section.course.name }}</a>
                {% else %}
                    {{ row.section.course.name }}
                {% endif %}
            </td>
        {% if show_status %}
            <td>{{ row.section.scheduled_status_string }}</td>
        {% endif %}
            <td>
                {% if row.section.price %}
                ${{ row.section.price }}
                {% endif %}
            </td>
            <td>
                <span class='text-muted' style="font-size: 70%">{{ row.section.min_students }} ≤ </span>
                <span
                    {% if row.section.num_students >= row.section.min_students and row.section.num_students <= row.section.max_students %}
                    class="text-success"
                    {% else %}
                    class="text-danger"
                    {% endif %}
                >
                {{ row.section.num_students }}
                </span>
                <span class='text-muted' style="font-size: 70%"> ≤ {{ row.section.max_students }}</span>
            </td>
            {% if show_students %}
            <td>{{ row.students }}</td>
            {% endif %}
            <td>{{ row.section.notes }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
