{% extends "app/base.html" %}
{% load bootstrap3 %}
{% load nav %}

{% block title %}{{ block.super }} - Section Registrations{% endblock %}

{% block content %}
    <h2>Register for Course Section</h2>
    {% include "app/section_head.html" %}

    <div class="row" style="margin-top: 2em">
        {% for swa in students_with_assignment %}
        <div class="col-md-2">
        <form action="{% xurl 'section' %}/{{ section.id }}/register/{{ swa.student.id }}" method="post">
            {% csrf_token %}
            <div class="well well-sm">
                <h4>{{ swa.student }}</h4>
                {% if swa.assa %}
                <h5>{{ swa.assa.ssa.status_str }}</h5>
                    {% if swa.assa.waitlisted %}
                    <h5 class="text-warning">Waitlisted</h5>
                    {% endif %}
                {% endif %}
                {% buttons %}
                    {% if not swa.assa %}
                    <button name="apply" type="submit" class="apply btn btn-primary">Apply</button>
                    {% else %}
                    <button name="unenroll" type="submit" class="btn btn-primary">Unenroll</button>
                    {% endif %}
                {% endbuttons %}
            </div>
        </form>
        </div>
        {% endfor %}
    </div>
    <h3>Explanation</h3>
    <p>The first step in registration is applying for a course section for one or more of your children.
    For basic classes, acceptance is very likely, unless it appears that the qualifications aren’t met.
    </p>
    <h4>The Waitlist</h4>
    <p>Course sections have a limit on the number of students. If you apply after that limit is reached,
    your child is automatically waitlisted.</p>
{% endblock %}
