{% extends "app/base.html" %}

{% block title %}{{ block.super }} - Section{% endblock %}

{% block content %}
    <h2>{{ section.course.name }} {% if section.scheduled_status_string %}({{ section.scheduled_status_string }}){% endif %}</h2>
    <h4>{{ section.start_time }}, {{ section.hours_per_day_formatted }} hours per day,
        {{ section.num_days }} day{{ section.num_days | pluralize }}{% if section.price %}, ${{ section.price }} {% endif %}
    </h4>
    {% if section.notes %}
    <h4>Notes</h4>
    <p>{{ section.notes }}</p>
    {% endif %}

    {% if ok_to_show_students %}
    <a class='btn btn-primary btn-sm' role="button" href='/app/section/{{ section.id }}/calendar'>Add to Calendar</a>
    <h3>Students</h3>
    <table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Grade</th>
        <th>Parent</th>
        {% if user.is_staff %}
        <th>Parent Phone</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for s in students %}
        <tr>
        <td>{{ s.name }}</td>
        <td>
        {% if user.is_staff %}
        {{ s.age }}
        {% else %}
        {{ s.age_conventional }}
        {% endif %}
        </td>
        <td>{{ s.grade }}</td>
        <td>{{ s.parent.name }}</td>
        {% if user.is_staff %}
        <td>{{ s.parent.phone }}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if overlaps %}
    <h3>Other Sections Together</h3>
    <table class="table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Section</th>
        <th>Students</th>
    </tr>
    </thead>
    <tbody>
    {% for s in overlaps %}
        <tr>
        <td>{{ s.section.start_time }}</td>
        <td>{{ s.section.course.name }}</td>
        <td>{{ s.student_names }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    {% else %}
        <p>You can see details of sections in which you have a student enrolled (not this one).</p>
    {% endif %}
{% endblock %}
