{% extends "app/base.html" %}

{% block title %}{{ block.super }} - Course Sections{% endblock %}

{% block content %}
    <h2>Course Sections</h2>
    {% if not user.is_authenticated %}
        <p><a href="{% url 'login' %}?next=sections">Log in</a> to see and change your children’s enrollments.</p>
    {% endif %}
    {% include "app/section_table.html" %}
    {% if not include_all %}
        <a class='btn btn-primary btn-sm' role="button" href='/app/sections?include=all'>Include Past Sections</a>
    {% endif %}
{% endblock %}
