<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Course</th>
        <th>Price</th>
        <th>Start Time</th>
        <th>Hours / Day</th>
        <th># Days</th>
        <th># Stu</th>
        {% if user.is_staff %}
        <th>Names</th>
        {% endif %}
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {% for section in sections %}
        <tr>
            <td>
                {% if user.is_staff or section.id in viewable_section_ids %}
                <a href='/app/section/{{ section.id }}'><span class="glyphicon glyphicon-eye-open" title="View section details"></span></a>
                {% endif %}
            </td>
            <td>{{ section.id }}</td>
            <td>
                {% if section.course.url %}
                    <a href={{ section.course.url }}>{{ section.course.name }}</a>
                {% else %}
                    {{ section.course.name }}
                {% endif %}
            </td>
            <td>
                {% if section.price %}
                ${{ section.price }}
                {% endif %}
            </td>
            <td>{{ section.start_time }}</td>
            <td>{{ section.hours_per_day_formatted }}</td>
            <td>{{ section.num_days }}</td>
            <td>{{ section.num_students }}</td>
            {% if user.is_staff %}
            <td>{{ section.students }}</td>
            {% endif %}
            <td>{{ section.notes }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
