{% extends "app/base.html" %}
{% load sections %}

{% block title %}{{ block.super }} - Status{% endblock %}

{% block content %}
<h2>Students</h2>
    <p>For all students, please provide information on the courses they want
    and when they are available. This information drives the scheduling process.</p>
    {% include 'app/how-choose-course.html' %}

    {% for parent in parents %}
    {% if user.is_staff %}
    <hr style="border: medium black solid">
    <h2>{{ parent.name }}</h2>
    {% endif %}
    {% for student in parent.students %}
        <div class="well">
            <h3 style="margin-top: 0">
                <a href='{% url 'student' student.id %}'><span title="Edit student profile" class="glyphicon glyphicon-edit"></span></a>
                {{ student.name }}
            </h3>
            <dl class="dl-horizontal">
                {% if student.age %}
                    <dt>Age</dt><dd>{{ student.age }}</dd>
                {% endif %}
                {% if student.grade %}<dt>Grade</dt><dd>{{ student.grade }}</dd>{% endif %}
                <dt>Courses wanted</dt><dd>{{ student.courses_wanted }}</dd>
                <dt>When available</dt><dd>{{ student.when_available }}</dd>
                <dt>Notes</dt><dd>{{ student.notes }}</dd>
            </dl>
        {% with student|rows:user as section_rows %}
            {% if section_rows.future or section_rows.past %}
            <h4>Enrollments</h4>
                {% if section_rows.future %}
            <h5>Upcoming</h5>
                {% include "app/section_table.html" with section_rows=section_rows.future %}
                {% endif %}
                {% if section_rows.past %}
            <h5>Past</h5>
                {% include "app/section_table.html" with section_rows=section_rows.past %}
                {% endif %}
            {% endif %}
        {% endwith %}
        </div>
    {% endfor %}
    <a id='add' class='btn btn-primary btn-sm' role="button" href='{% url 'student' 0%}?parent_id={{ parent.id }}'>Add a student</a>
{% endfor %}
{% endblock %}
