{% extends "app/base.html" %}

{% block title %}{{ block.super }} - Status{% endblock %}

{% block content %}
<h2>Students</h2>
{% for parent in parents %}
    {% if user.is_staff %}
    <hr style="border: medium black solid">
    <h2>{{ parent.name }}</h2>
    {% endif %}
    {% for student in parent.student_set.all %}
        <div class="well">
            <h3 style="margin-top: 0">
                <a href='/app/student/{{ student.id }}'><span title="Edit student profile" class="glyphicon glyphicon-edit"></span></a>
                {{ student.name }}
            </h3>
            <dl class="dl-horizontal">
                {% if student.age %}
                    <dt>Age</dt><dd>{{ student.age }}</dd>
                {% endif %}
                {% if student.grade %}<dt>Grade</dt><dd>{{ student.grade }}</dd>{% endif %}
                <dt>Courses wanted</dt><dd>{{ student.courses_wanted }}</dd>
                <dt>When available</dt><dd>{{ student.when_available }}</dd>
                <dt>Notes</dt><dd>{{ student.notes }}</dd>
            </dl>
            {% if student.sections.count %}
                <h4>Enrollments</h4>
            {% include "app/section_table.html" with sections=student.sections_by_time %}
            {% endif %}
        </div>
    {% endfor %}
    <a class='btn btn-primary btn-sm' role="button" href='/app/student/0?parent_id={{ parent.id }}'>Add a student</a>
{% endfor %}
{% endblock %}
